@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}


body,html{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: normal;
}

.resize{
    max-width: 1020px;
    margin: 0 auto;
}

/**header**/

header{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 35px;
}

#topHeader{
    border-bottom: 1px solid #eaeaea;
}

#topHeader > div{
    display: flex;
    justify-content: space-between;
    padding: 14px 84px 4px 73px;
}

header nav ul{
    display: flex;
    gap: 36px;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header .primaryNav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

header .secondaryNav a{
    position: relative;
}

.redNotif:after{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f0161e;
    border-radius: 50px;
    color: white;
    content: "1";
    display: block;
    width: 9px;
    height: 9px;
    font-size: 7px;
    text-align: center;
}

/**bottomHeader**/

#bottomHeader > div{
    padding: 9px 74px 16px 65px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#bottomHeader .menuLink{display: none;}

#bottomHeader > div h1{
    display: flex;
    gap: 6px;
    align-items: baseline;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.searchButton input{
    border: none;
    background: none;
    font-size: 12px;
    outline: none;
    width: 81px;
}

.searchButton input::placeholder{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

/**newsletters**/

#newsletter{
    border-top: 1px solid#7a5959;
    background-color: #080808;
    color: #d2bebe;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 8px;
}

.roundSelector{
    display: flex;
    align-items: center;
    gap: 4px;
}

.thisRoundSelector{
    width: 6px;
    height: 6px;
    border: 1px solid #333333;
    border-radius: 50px;
}

.RoundSelectorFull{
    background: #333333;
}

/**fakeAriane**/

.fakeAriane{
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 74px;
    font-weight: 100;
}

/**responsiveHeader**/

@media all and (max-width: 1020px){

    /**topHeader**/

    .primaryNav li span,
    .primaryNav .menuLink,
    .primaryNav .contactLink,
    .secondaryNav .giftLink{
        display: none;
    }
    
    #topHeader > div{
        padding-left: 19px;
        padding-right: 17px;
        padding-top: 4px;
    }

    header nav ul{
        gap: 6px;
    }

    header nav ul{
        gap: 8px;
    }

    /**bottomHeader**/

    #bottomHeader > div{
        padding: 7px 19px 6px;
        align-items: center;
    }
    
    #bottomHeader .menuLink{
        display: block;
    }

    #bottomHeader > div h1{
        align-items: center;
        font-size: 6px;
    }

    #bottomHeader > div h1 img{
        width: 19px;
    }

    .searchButton input{
        display: none;
    }

    /**newsletter**/

    #newsletter{
        font-size: 6px;
    }

    #newsletter .roundSelector{
        display: none;
    }

    .fakeAriane{
        font-size: 4px;
        padding-left: 19px;
    }

    .fakeAriane img{
        width: 6px;
        height: 6px;
    }
}

/**ThisArt**/

#thisArt nav{
    margin: 0 74px 36px;
    border-top: 1px solid #7f7f7f;
    display: flex;
    justify-content: flex-end;
}

#thisArt nav ul{
    padding: 0;
    padding-left: 96px;
    margin: 0;
    display: flex;
    border-bottom: 1px solid #bebebe;
}

#thisArt nav ul li{
    list-style: none;
}

#thisArt nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 19px;
    border-right: 1px solid #010101;
    text-transform: uppercase;
}

#thisArt nav ul li:last-child a{
    border-right: 0;
}

/**artSection**/

.responsiveAuthor{display: none;}

#artSelectorAndMainArt{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 88px;
}

#artSelectorAndMainArt .informationSection{
    display: none;
}

#artSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 74px;
    margin-right: 74px;
    
}

/**artSelector**/

.artSelector{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.artSelector > div{
    display: grid;
    grid-template-columns: 36px 36px;
    gap: 3px;
}

.artSelector > img{
    margin-left: 15px;
    margin-bottom: 15px;
}

.artSelector > div img{
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.artSelector > div a{
    color: red;
    text-decoration: none;
    font-size: 8px;
    align-self: center;
}

/**mainArt**/

.mainArt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6px;
    margin-right: 112px;
}

.mainArt > img{
    width: 380px;
    height: 286px;
    object-fit: cover;
}

.mainArt > div{
    padding-left: 4px;
    display: flex;
    gap: 11px;
}

.view{
    margin-left: auto;
    margin-right: -20px;
    font-size: 10px;
}

/**aboutArt**/

.aboutArt{
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 35px;
}

.aboutArt h3{
    text-transform: uppercase;
    margin-bottom: 48px;
    font-weight: 500;
}

.audioInformation{
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 55px
}

.audioInformation span{
    font-size: 14px;
    font-weight:500;
}

.audioInformation > img{
    width: 23px;
}

.audioInformation .flagsList{
    display: flex;
    gap: 29px;
    margin-left: 31px;
}

.audioInformation .flagsList img{
    width: 23px;
    height: 15px;
}

/**aboutArtDescription**/

.aboutArtDescription{
    font-size: 11px;
    word-spacing: -1px;
    line-height: 20px;
}

.aboutArtDescription .readMore:before{
    content: ">";
    transform: rotate(90deg);
    font-size: 11px;
    display: inline-block;
    margin-right: 18px;
}

.aboutArtDescription .readMore{
    margin-top: -20px;
    display: block;
    text-align: center;
}

.aboutArtDescription .autoTranslate{
    display: block;
    text-align: end;
    color: #f59f1d;
    margin-top: -10px;
}

/**informationSection**/

.informationSection{
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}

.informationSection > div{
    border: 1px solid #505050;
    padding: 8px 17px 3px 21px;
    width: 210px;
}

.informationSection h1{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 6px;
}

.informationSection h2{
    font-size: 11px;
    font-weight: 200;
    color: #908d8d;
    margin-bottom: 8px;
}

.informationSection h2 span{
    text-transform: uppercase;
}

.informationSection P{
    line-height: 16px;
    font-size: 10px;
    margin: 0;
}

.yellowInformation{
    color: #f5bd24;
}

.informationButton{
    display: inline-block;
    color: #f59f1d;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
}

.answer{
    margin-left: 9px;
}

.grayInformation{
    color: #d6d2d2;
}

.informationSection h3{
    text-align: center;
    border-bottom: 1px solid #c6bdbd;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
}

.multiPayment{
    display: block;
    text-align: center;
    font-size: 9px;
    margin-bottom: 10px;
}

.informationSection label{
    font-size: 8px;
    margin-left: 9px;
}

.informationSection input[type="submit"]{
    margin-top: 6px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: none;
    background-color: #fe9b04;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
}

.informationSection .alternativeSubmit{
    background-color: #ebe2e2!important;
    color: black!important;
}

.informationSection ul{
    margin: 0 0 0 29px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.informationSection ul li{
    font-size: 7px;
}

.informationSlider{
    display: flex;
    align-items: center;
    font-size: 7px;
    margin-left: -2px;
    margin-top: 17px;
    margin-bottom: 10px;
    gap: 20px;
}

.selectedInformationSlider{
    font-weight: 800;
    border-bottom: 1px solid black;
}

.informationSection .informationMarginUl{
    margin-left: 13px;
}

.redInformation{
    color: red;
}

.callBack{
    display: flex;
    padding: 7px;
    margin-top: 15px;
    border-top: 1px solid #c7bebe;
    font-size: 9px;
    gap: 29px;
}

.callBack > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

/**artSectionResponsive**/

@media all and (max-width:1020px){

    #artSection{
        margin: 0;
        flex-direction: column;
    }

    #thisArt nav{
        display: none;
    }

    #artSelectorAndMainArt{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        max-width: 100%;
    }

    .responsiveAuthor{
        display: block;
        font-size: 9px;
    }

    .mainArt{
        margin-right: 0;
    }

    .mainArt > img{
        width: 176px;
        height: 233px;
    }

    .view{
        margin-right: 0;
    }

    .artSelector{
        margin-top: 19px;
        flex-direction: row-reverse;
    }

    .artSelector > img{
        transform: rotate(-90deg);
    }

    .artSelector > div{
        grid-template-columns: repeat(5, 16px);
        max-height: 23px;
        overflow: hidden;
    }

    .artSelector > div img{
        height: 21px;
    }

    #artSelectorAndMainArt .informationSection{
        display: flex;
    }

    .informationSection{display: none;}

    .informationSection > div{
        border: none;
        width: 100%;
    }

    .informationSection .audioInformation{
        gap: 7px;
        margin-bottom: 25px;
    }

    .informationSection .audioInformation span{
        font-size: 7px;
    }

    .informationSection .audioInformation > img{
        width: 10px;
    }

    .informationSection .flagsList{
        margin-left: 7px;
        gap: 7px;
    }

    .informationSection .audioInformation .flagsList img{
        width: 10px;
        height: 6px;
    }

    .informationSection .aboutArtDescription p{
        font-size: 7px;
        line-height: 9px;
    }

    .informationSection .aboutArtDescription .readMore{
        margin-top: 4px;
        font-size: 7px;
    }

    .informationSection .aboutArtDescription .readMore::before{
        margin-right: 1px;
        font-size: 7px;
    }

    .callBack{
        margin-top: 14px;
        font-size: 8px;
        justify-content: center;
    }

    .aboutArt{display: none;}
}

/**authorSection**/

#authorSection{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 70px 50px 70px 90px;
}

#authorSection .resume{
    border: 1px solid #f5bc25;
    padding: 9px 73px 38px 93px;
    color: #f5bc25;
}

#authorSection .resume span{
    display: block;
    text-align: center;
}

#authorSection .resume ul{
    padding: 0;
    margin: 0;
    margin-top: 22px;
}

#authorSection .resume ul li{
    list-style: none;
    font-size: 14px;
}

#authorSection .resume ul li:before{
    display: inline-block;
    content: "-";
    margin-right: 3px;
}

#authorSection .profilAuthor{
    display: flex;
    align-items: flex-start;
    gap: 117px;
    font-size: 12px;
}

#authorSection .profilAuthor h1{
    font-size: 16px;
    margin-bottom: 13px;
}

#authorSection div h1 img{
    width: 25px;
    margin-left: 18px;
}

#authorSection .profilAuthor a{
    color: black;
}

/**authorSectionResponsive**/

@media all and (max-width: 1020px){

    #authorSection{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }

    #authorSection .resume{
        width: 100%;
        padding: 9px 0px 20px 20px ;
    }

    #authorSection .resume ul{
        margin-top: 15px;
    }

    #authorSection .resume ul li{
        font-size: 10px;
    }

    #authorSection .profilAuthor{
        gap: 10px;
        position: relative;
        padding-top: 30px;
        font-size: 7px;
        line-height: 12.4px;
        align-items: center;
    }

    #authorSection .profilAuthor .authorPicture{
        max-width: 67px;
    }

    #authorSection .profilAuthor > div{
        display: flex;
        flex-direction: column;
    }

    #authorSection .profilAuthor h1{
        position: absolute;
        top: 0;
        left: 19px;
        font-size: 10px;
    }

    #authorSection div h1 img{
        width: 13px;
    }

    #authorSection .profilAuthor > div p{margin: 0;}

    #authorSection .profilAuthor > div p:last-child{
        order: -1;
    }

}

/**otherArt**/

.otherArt{
    margin-right: 90px;
}

.otherArt h1{
    margin-left: 85px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.otherArt .scroller{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    margin-bottom: 25px;
}

.otherArt .scroller div > span{
    border: 1px outset black;
    padding: 6px;
}

.otherArt .scroller div .disabled{
    border: 1px outset #e4dbdb;
    color: #e4dbdb;
}

.otherArt .scroller button{
    background-color: transparent;
    border: 1px outset black;
    padding: 8px;
    font-weight: 600;

}

.listOfArt{
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 119px;
}

.listOfArt .thisArt > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listOfArt .thisArt .artAndHeart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.listOfArt .thisArt .artAndHeart span{
    font-size: 7px;
    background-color: #f7f7f7;
    padding: 5px;
}

.listOfArt .thisArt .artAndHeart .soldOutArt{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255,0.7);
    color: red;
    font-size: 14px;
}

.listOfArt .thisArt .artAndHeart .heartArt{
    position: absolute;
    top: -3px;
    left: -8px;
}

.thisArtInformationAndFollow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listOfArt .thisArt p{
    font-size: 7px;
    margin: 0;
}

.listOfArt .thisArt .skills span{
    font-size: 7px;
    border: 1px outset black;
    padding: 3px;
}

.listOfArt .thisArt .localisation{
    display: block;
    font-size: 7px;
    margin: 11px 0 5px;
}

.listOfArt .thisArt .price{
    font-size: 13px;
}

.listOfArt .thisArt .followArtist{
    margin-top: -25px;
    margin-right: -280px;
    border: 1px solid red;
    background: none;
    color: red;
    padding: 15px 8px;
    cursor: pointer;
    font-size: 9px;
}

.listOfArt .thisArt .disabledFollowArtist{
    margin-top: 0px;
    margin-right: 0px;
    border: none;
    margin-top: 0;
    color: black;
}

/**responsiveOtherArt**/

@media all and (max-width: 1020px){

    .otherArt{
        margin-right: 0;
    }

    .otherArt h1{
        font-size: 8px;
        margin-bottom: 15px;
        margin-left: 0;
        text-align: center;
    }

    .scroller > div{
        display: none;
    }

    .otherArt .scroller button{
        font-size: 7px;
        font-weight: 500;
        margin-right: 15px;
    }

    .listOfArt{
        max-width: 100%;
        overflow: hidden;
        margin-left: 10px;
        gap: 100px;
        margin-bottom: 30px;
    }

    .thisArtInformationAndFollow{
        width: 100%;
    }

    .listOfArt .thisArt .followArtist{
        margin: 0;
        border: none;
        padding: 0;
        text-decoration: underline;
        font-size: 7px;
    }

    .listOfArt .thisArt .disabledFollowArtist{
        text-decoration: underline;
    }
}

/**endOfOtherArt**/

#endOfOtherArt{
    margin-left: 148px;
    position: relative;
}

#endOfOtherArt .resize{
    position: relative;
}

#endOfOtherArt .resize:after{
    display: block;
    content: "";
    width: 116px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 5px;
    top: 0;
}

#endOfOtherArt p{
    font-size: 12px;
}

#endOfOtherArt ul{
    padding: 0;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#endOfOtherArt ul li{
    list-style: none;
    color: gray;
}

#endOfOtherArt .mobile{display: none;}

/**endOfOtherArtResponsive**/

@media all and (max-width:1020px){
    #endOfOtherArt{
        margin-left: 10px;
        margin-right: 10px;
    }

    #endOfOtherArt .resize:after{
        display: none;
    }

    #endOfOtherArt p {
    font-size: 9px;
    line-height: 17px;
    }

    #endOfOtherArt nav{display: none;}

    #endOfOtherArt .mobile{
        display: flex;
        justify-content: center;
    }

    #endOfOtherArt ul{
        margin: 30px 0;
        gap: 20px;
    }

    #endOfOtherArt ul li{
        font-size: 9px;
    }
}

/**footer**/

footer{
    margin-left: 20px;
}

footer h1::before{
    display: block;
    content: "";
    width: 229px;
    height: 3px;
    background-color: black;
}

footer .reverse::before{
    width: 179px;
}

footer h1{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

footer .reverse{
    flex-direction: row-reverse;
}

/**reviews**/

#reviews .trustPilot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 0px 38px 42px;
}

#reviews .trustPilot span{
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;
}

/**knowledge**/

.listKnowledge{
    display: grid;
    grid-template-columns: 108px 108px 108px 108px;
    gap: 145px;
    margin: 33px 0px 33px 145px;
}

.listKnowledge > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listKnowledge > div img{
    margin-bottom: 14px;
}

.listKnowledge > div h2{
    font-size: 10px;
}

.listKnowledge > div .redTitle{
    color: red;
}

.listKnowledge > div p{
    font-size: 7px;
    text-align: center;
}

/**valueAndFollow**/

#valueAndFollow > .resize{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

#value{
    max-width: 527px;
}

#value p{
    margin-top: 20px;
    font-size: 9px;
}

#follow{
    max-width: 393px;
}

#follow .socialList{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

#follow .socialList img{
    width: 24px;
}

#follow h2::before{
    display: block;
    content: "";
    width: 189px;
    height: 3px;
    background-color: black;
}

#follow h2{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#follow p{
    font-size: 9px;
}

#follow .EmailButton{
    display: flex;
    margin-top: 5px;
}

#follow .EmailButton input{
    width: 100%;
    padding: 15px 30px;
    border: 1px solid black;
    border-right: none;
}

#follow .EmailButton button{
    border: 1px solid black;
    border-left: 1px solid gray;
    background: none;
    padding: 15px;
}

/**topFooter**/

.listTopFooter{
    display: flex;
    justify-content: center;
    gap: 109px;
    border-top: 2px solid #d0d0d0;
    padding-top: 21px;
    margin-bottom: 23px;
}

.listTopFooter ul{
    margin: 0;
    padding: 0;
}

.listTopFooter  span{
    display: block;
    margin-bottom: 11px;
    font-size: 14px;
}

.listTopFooter .yellowTitle{
    color: #f2a010;
}

.listTopFooter ul li{
    list-style: none;
    margin-bottom: 1px;
}

.listTopFooter ul li a{
    color: black;
    text-decoration: none;
    margin: 0;
    font-size: 9px;
}

/**bottomFooter**/

#bottomFooter{
    background-color: #f7f7f7;
    padding: 10px 0;
}

#bottomFooter .resize{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottomFooter h1::before{
    content: none;
}


#bottomFooter h1 span{
    display: block;
}

#bottomFooter .h1WithLegal{
    display: flex;
    gap: 9px;
}

#bottomFooter .h1WithLegal{
    font-size: 9px;
}

#bottomFooter .resize > a,#bottomFooter .resize > span{
    color: red;
    font-size: 10px;
}